/* AuthPage.module.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.loginBody { /* Classe específica para a página de login */
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('img/imagemfundo.jpg') no-repeat center center fixed;
  background-size: cover;
}

.container {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(12px);
  padding: 6px;
  width: 365px; 
  height: 525px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 11px; 
  box-shadow: 0 0 21px 0 lightblue; 
}

form {
  position: absolute;
  margin-top: 95px; 
  transition: .5s;
  width: 315px; 
  height: auto; 
}

.buttonsForm {
  margin-top: 42px; 
  position: relative;
  border-radius: 31px; 
  box-shadow: 0 0 10px 0 deepskyblue; 
}

.buttonsForm button {
  cursor: pointer;
  background: transparent;
  border: none;
  position: relative;
  padding: 10px 30px; 
}

.btnColor {
  position: absolute;
  width: 126px; 
  height: 100%;
  background: linear-gradient(to right, #4a90e2, #50c9c3);
  border-radius: 31px; 
  transition: .4s;
}

.inputGroup {
  position: relative;
  margin-top: 28px; 
}

.inputGroup input {
  border: none;
  border-radius: 63px; 
  padding: 8px 0 8px 36px; 
  outline: none;
  width: 100%;
}

.inputGroup i {
  position: absolute;
  left: 11px; 
  top: 54%; 
  transform: translateY(-50%);
  color: #007bff;
  font-size: 19px; 
}

.loginBody #signin .inputGroup {
  margin-top: 28px; 
}

.loginBody #signin .inputGroup.email i {
  top: 21px; 
}

.loginBody #signin .inputGroup.password i {
  top: 100px; 
}

.loginBody #signup .inputGroup.email i {
  top: 21px; 
}

.loginBody #signup .inputGroup.password i {
  top: 100px; 
}

.loginBody #signup .inputGroup.password2 i {
  top: 177px; 
}

.loginBody #signup .inputGroup.name i {
  top: 21px; 
}

button[type="submit"] {
  background: #007bff;
  color: white;
  border-radius: 31px; 
  width: 100%; 
  border: none;
  outline: none;
  padding: 9px 0; 
  font-size: 16px; 
  margin-top: 29px; 
  cursor: pointer;
}

.divCheck {
  margin: 7px 0 0 12px; 
  width: 85%; 
  font-size: 14px; 
  display: flex;
  align-items: center; /* Alinha verticalmente o checkbox e o texto */
}

.divCheck input[type="checkbox"] {
  margin-right: 5px; /* Espaçamento entre o checkbox e o texto */
  margin-top: 2px; 
}
