@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    margin: 0; /* Remove margens do corpo */
    padding: 0; /* Remove preenchimentos do corpo */
    background: linear-gradient(to right, #2c3e50, #3498db); /* Gradiente cinza azul neon */
    display: flex;
    justify-content: center; /* Centraliza o contêiner horizontalmente */
    align-items: center; /* Centraliza o contêiner verticalmente */
    height: 100vh; /* Define a altura do corpo como 100% da janela */
  }

/* Estiliza a nova seção para o título no topo */
.header-top {
  width: 100%;
  text-align: center;
  margin: 20px 0; /* Ajusta a margem superior e inferior */
}

.header-top span {
  font-weight: 900;
  font-size: 24px;
  color: white; /* Texto em branco para contraste */
}

button {
  cursor: pointer;
}

.container {
    width: 80vw; /* 80% da largura da janela */
    height: 80vh; /* 80% da altura da janela */
    border-radius: 10px; /* Mantém o arredondamento das bordas */
    background: white;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra leve para destaque */
    display: flex;
    flex-direction: column; /* Organiza os filhos em coluna */
    padding: 20px; /* Espaço interno */
    overflow: hidden; /* Impede que o conteúdo extravase o contêiner */
    margin: auto; /* Centraliza o contêiner na página */
  }

.header {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 12px;
}

.header span {
  font-weight: 900;
  font-size: 20px;
  word-break: break-all;
}

/* Estilo do footer */
footer {
  position: fixed;
  bottom: 60px; /* Distância do fundo da tela */
  right: 195px; /* Reduz a distância da borda direita para mover o botão mais para a esquerda */
  display: flex;
  justify-content: flex-end; /* Alinha o botão à direita */
  padding: 0; /* Remove o padding interno do footer */
}

#new {
  font-size: 1rem; /* Usar unidades relativas */
  padding: 0.5rem 1rem; /* Ajuste o padding */
  border-radius: 8px;
  border: none;
  color: white;
  background-color: rgb(57, 57, 226);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Garante que o botão fique acima de outros elementos */
  transition: background-color 0.3s, transform 0.3s;
}

#new:hover {
  background-color: rgb(45, 45, 180);
  transform: scale(1.05);
}

#new:active {
  background-color: rgb(30, 30, 140);
  transform: scale(1);
}

.divTable {
  padding: 10px;
  width: auto;
  height: inherit;
  overflow: auto;
}

.divTable::-webkit-scrollbar {
  width: 12px;
  background-color: whitesmoke;
}

.divTable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #72ffff; /* Azul bem clarinho */
}

table {
  width: 100%;
  border-spacing: 10px;
  border-collapse: collapse;
}

thead {
  background: radial-gradient(circle, rgba(52, 152, 219, 0.8) 30%, rgba(52, 152, 219, 0.3) 70%, transparent 100%); /* Degradê radial mais sutil com a cor #3498db */
  color: rgb(0, 0, 0);
}

tr {
  border-bottom: 1px solid rgb(238, 235, 235);
}

thead tr th {
  padding: 5px;
  text-align: start;
}

tbody {
  background-color: #ffffff; /* Cor de fundo clara para o corpo da tabela */
}

tbody tr td {
  vertical-align: text-top;
  padding: 6px;
}

thead tr th.acao {
  width: 100px; /* Tamanho fixo da coluna de ações */
  text-align: center;
}

tbody tr td.acao {
  text-align: center;
}

.acao-buttons {
  display: flex;
  gap: 10px; /* Espaço entre os ícones */
  justify-content: center; /* Centraliza os ícones horizontalmente */
}

.acao-buttons button {
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.acao-buttons i {
  font-size: 25px; /* Tamanho dos ícones */
}

/* Responsividade */
@media (max-width: 1200px) {
  #new {
    font-size: 0.9rem; /* Reduz o tamanho da fonte */
    padding: 0.4rem 0.8rem; /* Reduz o padding */
  }
}

@media (max-width: 900px) {
  #new {
    font-size: 0.8rem; /* Reduz ainda mais o tamanho da fonte */
    padding: 0.3rem 0.7rem; /* Reduz ainda mais o padding */
  }
}

@media (max-width: 700px) {
  body {
    font-size: 10px;
  }

  .header span {
    font-size: 15px;
  }

  #new {
    font-size: 0.7rem; /* Tamanho de fonte bem reduzido */
    padding: 0.2rem 0.5rem; /* Padding mínimo */
  }

  thead tr th.acao {
    width: auto; /* Tamanho automático para a coluna de ações */
  }

  td button i {
    font-size: 20px; /* Tamanho dos ícones */
  }

  td button i:first-child {
    margin-right: 0;
  }

  .modal {
    width: 80%; /* Ajuste a largura do modal para 80% */
    padding: 20px; /* Reduza o padding interno do modal */
  }

  .modal label {
    font-size: 12px; /* Tamanho da fonte reduzido */
  }
}

/* Estilos do modal */
/* ContactsPage.module.css */
/* Estilos do modal */
/* ContactsPage.module.css */
.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start; /* Alinha o modal no topo */
  justify-content: center;
  padding-top: 50px; /* Espaçamento do topo */
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
  z-index: 1000; /* Garante que o modal estará acima dos outros elementos */
}

.modal {
  position: relative;
  background-color: rgba(52, 152, 219, 0.8);
  padding: 400px; /* Mantido o padding do modal em 350px */
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

.modalFormContainer {
  position: absolute; /* Permite que o formulário se mova acima do padding do modal */
  top: -80px; /* Ajustado para mover o formulário mais para cima */
  width: 98%; /* Diminuído o tamanho do formulário */
  padding: 0 45px; /* Padding interno para o formulário */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinha os itens à esquerda */
}

.modal label {
  font-size: 13px;
  margin-bottom: 5px; /* Espaço entre o label e o campo */
  font-family: 'Poppins', sans-serif;
  color: #333;
  font-weight: bold; /* Torna o texto em negrito */
}

.modal input,
.modal textarea,
.modal select {
  width: calc(224% - 10px);
  outline: none;
  padding: 8px;
  margin-bottom: 12px;
  border: none;
  border-bottom: 1px solid #ccc; /* Apenas borda inferior */
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  border-radius: 6px;
}

.modal textarea {
  resize: none;
  height: 80px; /* Define uma altura para o textarea */
}

.modal button {
  width: 45%; /* Divide o espaço entre os botões */
  margin: 10px 1%;
  padding: 8px;
  border: none;
  background-color: rgb(57, 57, 226);
  color: white;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}


.modal button:hover {
  background-color: rgb(47, 47, 200); /* Efeito de hover no botão */
}

.modal button:last-of-type {
  background-color: rgb(57, 57, 226);/* Cor diferenciada para o botão "Cancelar" */
}

.modal button:last-of-type:hover {
  background-color: rgb(47, 47, 200);/* Efeito de hover para o botão "Cancelar" */
}


/* Animação do modal */
.active {
  display: flex;
}

.active .modal {
  animation: modal 0.4s;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}



/* Estilos do botão de ação na tabela */
td button {
  border: none;
  outline: none;
  background: transparent;
}

td button i {
  font-size: 25px; /* Tamanho dos ícones */
}

td button i:first-child {
  margin-right: 10px; /* Espaço à direita do primeiro ícone */
}

/* Contêiner do Dropdown */
.dropdown {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content.show {
  display: block; /* Mostra o conteúdo do dropdown */
}

.dropdown-content a {
  color: black; /* Cor dos links no dropdown */
  padding: 12px 16px; /* Espaçamento interno dos links */
  text-decoration: none; /* Remove o sublinhado */
  display: block; /* Exibe cada link como um bloco */
}

.dropdown-content a:hover {
  background-color: #f1f1f1; /* Efeito de hover nos links */
}

.addContactBtn {
  font-size: 0.9rem; /* Diminuindo o tamanho da fonte */
  padding: 0.4rem 0.8rem; /* Diminuindo o padding */
  border-radius: 6px; /* Opcional: ajustando o raio do borda */
  border: none;
  color: white;
  background-color: rgb(57, 57, 226);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  margin-left: 20px; /* Adiciona margem à esquerda para mover o botão mais para a esquerda */
  margin-bottom: -10px; /* Aumenta a margem inferior para abaixar o botão */
}

.addContactBtn:hover {
  background-color: rgb(45, 45, 180);
  transform: scale(1.05);
}

.addContactBtn:active {
  background-color: rgb(30, 30, 140);
  transform: scale(1);
}
  